/* -- element css */

body {
  color: #ffffff;
  background-color: #ffffff;
  margin: 100px 0;
  text-align: center;
  height: 100%;
}

h1 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar {
background: linear-gradient(to right, #8bacbd, #fa9581);
}

footer {
  margin-top: 200px;
  text-align: right;
  color: black;
}
/* Into information */

.circleDiv {
  position: relative;
  display:flex;
  height: 100%;
  align-items: center;
  }

.real,
.movie {
  border-radius: 50%;
  max-width: 60%;
  position: absolute;
  opacity: .9;
  height: 300px;
  justify-content: center;
}

.real {
  background-color:#fa9581;
  left: 0;
  top: 0;
  right: 40%;
  bottom: 0;
}

.movie {
  background-color: #8bacbd;
  left: 40%;
  top: 0;
  right: 0;
  bottom: 0;
}

.instructions {
  color: white;
  position: absolute;
  z-index: 5;
  top: 33%;
  left: 15%;
  right: 15%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
}

.lead {
  font-size: 1rem;
  align-content: center;
 }

 .forthebutton {
   position: static;
   margin-top: 350px;
   
 }

  

/* primary button */
.btn-primary {
  background-color: #8bacbd;
  color: white;
  border-color: #fa9581;
  border-radius: 25px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
  background-color: #fa9581;
  color: #285e8e;
  border-color: #8bacbd;
}



#author {
  color: black;
  position: absolute;
  bottom: 60%;
  right: 180px;
}

.centreDiv {
  position: static;
  color: black;
  margin-top: 250px;
  height: 200px;
  background-color: red;
}