/* -- element css */

body {
  color: #000;
  background-color: #ffffff;
  margin: 100px 0;
  text-align: center;
  height: 100%;
}

/* Class selectors */

.navbar {
background: linear-gradient(to right, #8bacbd, #fa9581);
}

.quoteTextDiv {
  Height: 200px;
  padding: 0;
  margin-bottom: 20px;
  border: 3px solid #8bacbd;
  background-color: #fa9581;
  align-content: center;
}

.quotetext {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.authortext {
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}


.buttonsDiv {
  margin-bottom: 40px;
}

.infoTextBox {
  border: 3px solid #fa9581;
  background-color: #8bacbd;
  height: 120px;
  text-align: left;
}

/* ID selectors */



/* primary button */
/* .btn-primary {
  background-color: #8bacbd;
  color: white;
  border-color: #fa9581;
  border-radius: 25px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
  background-color: #fa9581;
  color: #285e8e;
  border-color: #8bacbd;
}

